@model ML.Usuario
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar o Modificar Usuarios</h2>
<br />


<div>
    @using (Html.BeginForm("Form", "Usuario", FormMethod.Post, htmlAttributes: new { }))
    {
        <div>
            @Html.LabelFor(model => model.IdUsuario, new { @class = "hidden" })
            @Html.TextBoxFor(model => model.IdUsuario, new { @class = "hidden" })
            @Html.ValidationMessageFor(model => model.IdUsuario)
        </div>

        <div class="row">

            <div class="col-md-3">
                @Html.LabelFor(model => model.Nombre)
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.ApellidoPaterno)
                @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ApellidoPaterno)
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.ApellidoMaterno)
                @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ApellidoMaterno)
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.FechaNacimiento)
                @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FechaNacimiento)
            </div>

        </div>
        <br />

        <div class="col-md-3">
            @Html.LabelFor(model => model.Rol.IdRol)
            @Html.TextBoxFor(model => model.Rol.IdRol, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Rol.IdRol)
        </div>
        <div>
            <input class="btn btn-success" value="Guardar" type="submit" />
            @Html.ActionLink("Regresar", "GetAll", "Usuario", new { @class = "btn btn-danger" })
        </div>
    }
</div>